@import '../../styles/colors.scss';
.searchform {
  border-top: 1px solid $border-color;
  margin-top: 20px;
  overflow: auto;
  .formgroup {
    float: left;
    padding: 15px;
    label {
      font-family: 'SF UI Display Medium';
      display: block;
      color: #757577;
      font-size: 14px;
    }
    input {
      margin-top: 7px;
      display: block;
      padding: 5px;
    }
    .btn {
      margin-top: 12px;
    }
  }
}

.grid {
  position: relative;
  overflow: auto;
  .table-header {
    background: white;
  }
  .table-content {
    margin-top: -1px;
    height: 600px;
    overflow: scroll;
    position: relative;
    .refresh {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      top: 0px;
      z-index: 10;
      .fas {
        position: absolute;
        margin: auto;
        left: calc(50% - 60px);
        top: 30%;
        color: #cecece52;
        font-size: 120px;
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    table-layout: fixed;


    tr {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      .fas {
        &.fa-exchange-alt {
          transform: rotate(90deg);
        }
        &.fa-sort-amount-down,&.fa-sort-amount-up {
          color: gray;
        }
        color: lightgrey;
        font-size: 14px;
      }
      th {
        padding: 15px 25px;
        font-weight: 600;
        color: $primary;
        cursor: pointer;
      }
      td {
        padding: 10px 25px;
        line-height: 20px;
        vertical-align: middle;
        .actions {
          .fa-trash-alt {
            color: $primary;
            margin-right: 15px;
            cursor: pointer;
            font-weight: lighter;
            font-size: 12px;
          }
          .fa-cloud-upload {
            color: #858585;
          }
        }
      }
    }
  }
}
